{% extends "base.html" %}

{% block title %}{{super()}} - Account{% endblock %}

{% block page_content %}
<div class="container">
  <div class="page-header">
    <h1>Account Details</h1>
  </div>
  <br>
  	<div class="account-info">
  		<div class="row">
      		<div class="col-md-3"><h3>UCID:</h3></div> <div class="col-md-2"><p>{{current_user.id}}</p></div>
      	</div>
    <hr>
    <br>
      	<div class="row">
      		<div class="col-md-3"><h3>First Name:</h3></div> <div class="col-md-2"><p>{{current_user.first_name}}</p></div>
      	</div>
    <hr>
    <br>
      	<div class="row">
      		<div class="col-md-3"><h3>Last Name:</h3></div> <div class="col-md-2"><p>{{current_user.last_name}}</p></div>
      	</div>
      	<hr>
      <br>
      	<div class="row">
      		<div class="col-md-3"><h3>Email:</h3></div> <div class="col-md-2"><p>{{current_user.email}}</p></div>
      	</div>
      	<hr>
      <br>
      	<div class="row">
      		<div class="col-md-3"><h3>Phone Number:</h3></div>

			<div class="col-md-2"><p>{% if current_user.phone %}
			{{current_user.phone}}
			{% else %}
			Nothing on file.
			{% endif %}</p></div>
		</div>
		<hr>
      <br><br>
      <h3>Account Options:</h3><br><br>
    </div>
    <div class="btn-group-vertical">
      <a href="{{url_for('auth.change_account_details')}}" class="btn btn-info">Edit Information</a>
      <a href="{{url_for('auth.change_password')}}" class="btn btn-info">Change Password</a>
      <a href="{{url_for('auth.change_email_request')}}" class="btn btn-info">Change Email</a>
    </div>
</div>
{% endblock %}
