{% extends "base.html" %}

{% block title %}{{super()}} - Account{% endblock %}

{% block page_content %}
<div class="container">
  <div class="page-header">
    <h1>Account Details</h1>
  </div>
  <br>
  <div class="col-md-4">
    <h4>
      UCID: {{current_user.id}}
      <br>
      First Name: {{current_user.first_name}}
      <br>
      Last Name: {{current_user.last_name}}
      <br>
      Email: {{current_user.email}}
      <br>
      Phone Number:
      {% if current_user.phone %}
        {{current_user.phone}}
      {% else %}
        Nothing on file.
      {% endif %}
      <br><br>
      Account Options:
    </h4>
    <div class="btn-group-vertical">
      <a href="{{url_for('auth.change_account_details')}}" class="btn btn-info">Edit Information</a>
      <a href="{{url_for('auth.change_password')}}" class="btn btn-info">Change Password</a>
      <a href="{{url_for('auth.change_email_request')}}" class="btn btn-info">Change Email</a>
    </div>
  </div>
</div>
{% endblock %}
