{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_fmacros.html" import render_field %}

{% block title %}{{super()}} - Change Password{% endblock %}

{% block page_content %}
<div class="container">
    <div id="row">
        <div class="col-xs-0 col-sm-3"></div>
        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <div class="text-center">
                    <h1>Change Your Password</h1>
                </div>
            </div>
            <div class="usermgmtcard well">
                <form method="post" class="form-changepw" action="{{ url_for('auth.change_password')}}">
                    {{form.hidden_tag()}}
                    
                    {{ render_field(form.old_password, class_="form-control", type="password", with_icon="fa fa-lock fa-fw", tabindex=1, with_label="Old Password", with_ph="Old Password")}}
                    
                    <hr style="width: 100%; color: black; height: 1px; background-color: #357ebd;" />
                    
                    {# Password #}
                    {{ render_field(form.password, class_="form-control", type="password", with_icon="fa fa-lock fa-fw", tabindex=2, with_label="New Password", with_ph="New Password")}}
                    
                    <ul id="validinfo" class="col-xs-12 fa-ul hidden">
                        <p class="text-muted">Suggestions for a strong password:</p>
                        <li><i id="8char" class="fa-li fa fa-times" style="color: red;"></i> 8 Characters Long</li>
                        <li><i id="ucase" class="fa-li fa fa-times" style="color: red;"></i> One Uppercase Letter</li>
                        <li><i id="lcase" class="fa-li fa fa-times" style="color: red;"></i> One Lowercase Letter</li>
                        <li><i id="num" class="fa-li fa fa-times" style="color: red;"></i> One Number</li>
                    </ul>
                    
                    {# Confirm Password #}
                    {{ render_field(form.password_confirm, class_="form-control", type="password", with_icon="fa fa-lock fa-fw", tabindex=3, with_label="Confirm Password", with_ph="Confirm Password")}}
                    
                    <ul id="validmatch" class="col-xs-12 fa-ul hidden">
                        <li><i id="pwmatch" class="fa-li fa fa-times" style="color: red;"></i> Passwords Match</li>
                    </ul>
                    
                    <hr style="width: 100%; color: black; height: 1px; background-color: #357ebd;" />
                    
                    {# Submit #}
                    {{ form.submit(class_="btn btn-lg btn-primary btn-block", type="submit", with_label="Update Password", tabindex=4) }}
                    
                </form>
            </div>
            <div class="col-xs-0 col-sm-3"></div>
        </div>    
    </div>
</div>
{% endblock %}
