{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_fmacros.html" import render_field %}

{% block title %}{{super()}} - Register{% endblock %}

{% block page_content %}
<div class="container">
    <div id="row">
        <div class="col-xs-0 col-sm-3"></div>
        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <div class="text-center">
                    <h1>Register</h1>
                </div>
            </div>
            <div class="usermgmtcard well">
                <form method="post" class="form-register" action="{{ url_for('auth.register')}}">
                    {{form.hidden_tag()}}
                    
                    {# UCID #}
                    {{ render_field(form.UCID, class_="form-control", type="text", tabindex=1, onkeypress="return event.charCode >= 48 && event.charCode <= 57", maxlength="8", with_icon="fa fa-users fa-fw", with_label="UCalgary ID", with_ph="UCID")}}
                    
                    {# First and Last Name #}
                    <div class="nopadding col-xs-12 col-sm-6">
                        {{ render_field(form.first_name, class_="form-control", with_icon="fa fa-user fa-fw", type="text", tabindex=2, with_label="First Name", with_ph="First Name")}}
                    </div>
                    <div class="nopadding col-xs-12 col-sm-6">
                        {{ render_field(form.last_name, class_="form-control", with_icon="fa fa-user fa-fw", type="text", tabindex=3, with_label="Last Name", with_ph="Last Name")}}
                    </div>
                    
                    {# phone #}
                    {{ render_field(form.phone, class_="form-control", type="tel", tabindex=9, onkeypress="return event.charCode >= 48 && event.charCode <= 57", maxlength="15", with_icon="fa fa-phone fa-fw", with_label="Phone Number (Optional)", with_ph="Phone")}}

                    <div class="col-xs-12">
                        <hr style="width: 100%; color: black; height: 1px; background-color: #357ebd;" />
                    </div>
                    
                    <p class="text-muted">Login Credentials</p>
                    
                    {# Email #}
                    {{ render_field(form.email, class_="form-control", with_icon="fa fa-envelope fa-fw", type="email", tabindex=4, with_label="Email Address", with_ph="Email")}}
                    
                    {# Password #}
                    {{ render_field(form.password, class_="form-control", type="password", with_icon="fa fa-lock fa-fw", tabindex=5, with_label="Password", with_ph="Password")}}
                    
                    <ul id="validinfo" class="col-xs-12 fa-ul hidden">
                        <p class="text-muted">Suggestions for a strong password:</p>
                        <li><i id="8char" class="fa-li fa fa-times" style="color: red;"></i> 8 Characters Long</li>
                        <li><i id="ucase" class="fa-li fa fa-times" style="color: red;"></i> One Uppercase Letter</li>
                        <li><i id="lcase" class="fa-li fa fa-times" style="color: red;"></i> One Lowercase Letter</li>
                        <li><i id="num" class="fa-li fa fa-times" style="color: red;"></i> One Number</li>
                    </ul>
                    
                    {# Confirm Password #}
                    {{ render_field(form.password_confirm, class_="form-control", type="password", with_icon="fa fa-lock fa-fw", tabindex=6, with_label="Confirm Password", with_ph="Confirm")}}
                    
                    <ul id="validmatch" class="col-xs-12 fa-ul hidden">
                        <li><i id="pwmatch" class="fa-li fa fa-times" style="color: red;"></i> Passwords Match</li>
                    </ul>

                    <div class="col-xs-12">
                        <hr style="width: 100%; color: black; height: 1px; background-color: #357ebd;" />
                    </div>

                    {# Principal Investigator #}
                    
                    <p class="text-muted">Principal Investigator</p>
                    
                    <div class="nopadding col-xs-12 col-sm-6">
                    {# First Name #}
                    {{ render_field(form.pi_fname, class_="form-control", type="text", tabindex=7, with_icon="fa fa-user fa-fw", with_label="First Name", with_ph="First")}}
                    </div>
                    <div class="nopadding col-xs-12 col-sm-6">
                    {# Last Name #}
                    {{ render_field(form.pi_lname, class_="form-control", type="text", tabindex=8, with_icon="fa fa-user fa-fw", with_label="Last Name", with_ph="Last")}}
                    </div>

                    <div class="col-xs-12">
                        <hr style="width: 100%; color: black; height: 1px; background-color: #357ebd;" />
                    </div>

                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-6">
                        <div class="g-recaptcha" data-theme="light" data-sitekey="{{ config.RECAPTCHA_SITE_KEY }}" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                    </div>

                    {# Submit #}
                    {{ form.submit(class_="btn btn-lg btn-primary btn-block", type="submit", tabindex=10) }}
                </form>
                <br>
                <p>Already registered? <br><a href="{{ url_for('auth.login') }}">Click here to log in</a>.</p>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
{% endblock %}
