{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_fmacros.html" import render_field %}

{% block title %}{{super()}} - Password Reset{% endblock %}

{% block page_content %}
<div class="container">
    <div id="row">
        <div class="col-xs-0 col-sm-3"></div>
        <div class="col-xs-12 col-sm-6">
            <div class="page-header">
                <div class="text-center">
                    <h1>Reset Your Password</h1>
                </div>
            </div>
            <div class="usermgmtcard well">
                <form method="post" class="form-resetpwreq" action="{{ url_for('auth.password_reset_request')}}">
                    {{form.hidden_tag()}}
                    
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td><p>Please enter your account email below.</p></td>
                            </tr>
                        </tbody>
                    </table>
                    
                    {# Email #}
                    {{ render_field(form.email, class_="form-control", with_icon="fa fa-envelope fa-fw", type="email", tabindex=1, with_label="Email Address", with_ph="Email")}}
                    
                    <hr style="width: 100%; color: black; height: 1px; background-color: #357ebd;" />
                    
                    <div class="col-md-offset-3">
                        <div class="g-recaptcha" data-theme="light" data-sitekey="{{ config.RECAPTCHA_SITE_KEY }}" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                    </div>
                    
                    {# Submit #}
                    {{ form.submit(class_="btn btn-lg btn-primary btn-block", type="submit", with_label="Reset Password", tabindex=2) }}
                    
                </form>
            </div>
            <div class="col-xs-0 col-sm-3"></div>
        </div>    
    </div>
</div>
{% endblock %}
