*.py[cod]

# silly editor files
*~

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Other log files
geckodriver.log

# Unit test / coverage reports
tmp
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# SQLite databases
*.sqlite

# Virtual environment
venv

# Deployment environment
.env
cmrfweb.sock
server/sysdenv
server/maintenance_on.html

# File uploads
app/uploads

# idea
.idea
