html, body {
    height: 100%;
}

body {
    padding-top: 50px;
}

.beforefooter{
    padding-top: 50px;
    min-height: 100%;
    z-index:1;
}

.container {
    z-index: 2;
}

.a {
    cursor: pointer;
}

#footer {
    background: #E30C00; /* Old browsers */
  	background: -moz-linear-gradient(top, #E30C00 0%, #b31217 100%); /* FF3.6-15 */
  	background: -webkit-linear-gradient(top, #E30C00 0%,#b31217 100%); /* Chrome10-25,Safari5.1-6 */
  	background: linear-gradient(to bottom, #E30C00 0%,#b31217 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E30C00', endColorstr='#b31217',GradientType=0 ); /* IE6-9 */

    color:#fff;
    padding:20px 50px 20px 50px;
    text-align:right;
    bottom: -50px;
    height: 50px;
	width: 100%;
	bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}

.news{
    padding-right: 20px;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

/***************************************/
/*NAV BAR STYLES*/
/***************************************/

#navbar ul li a {
    color:white !important;
}

.navbar-header a {
    color:#ffffff !important;
    padding-right: 60px;
}

nav {
	position: absolute;
	width: 100%;
    background: #fff;
    z-index:99;
}

.fixed {
	position: fixed;
	top: 0;
	min-height: 50px;
	z-index: 99;
}

.navbar-inverse {
	background: #E30C00; /* Old browsers */
	background: -moz-linear-gradient(top, #E30C00 0%, #b31217 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #E30C00 0%,#b31217 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #E30C00 0%,#b31217 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E30C00', endColorstr='#b31217',GradientType=0 ); /* IE6-9 */

	border-color: #ffffff;
	border-width: 2px;
}

.navbar-header a img {
	height: 40px;
	margin-top: 6px;
	margin-left: 6px;
}

#acc-dropdown ul li a {
    background: #E30C00; /* Old browsers */
    background: -moz-linear-gradient(top, #E30C00 0%, #b31217 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #E30C00 0%,#b31217 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #E30C00 0%,#b31217 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E30C00', endColorstr='#b31217',GradientType=0 ); /* IE6-9 */
}

/* Earlier navbar collapse breakpoint*/

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
	.navbar-nav:before {
		background-color: white;
    	visibility: hidden;
    	-webkit-transform: scaleX(0);
    	transform: scaleX(0);
    	-webkit-transition: all 0.5s ease-in-out 0s;
    	transition: all 0.5s ease-in-out 0s;
	}
	.navbar-nav:before {
		visibility: visible;
    	-webkit-transform: scaleX(1);
    	transform: scaleX(1);
	}
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

/***************************************/
/*HOME STYLES*/
/***************************************/

/*Carousel*/

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

/***************************************/
/*RESEARCH STYLES*/
/***************************************/


.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('http://placehold.it/1900x500') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 60px 0;
}

.headline h1 {
    font-size: 130px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.headline h2 {
    font-size: 77px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.featurette-divider {
    margin: 80px 0;
    width: 100%;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

footer {
    margin: 50px 0;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

/***************************************/
/*SECTION STYLES*/
/***************************************/

.container-full-background {
	background-color: #f5f5f5;
}

.row {
	position: relative;
	padding-top: 15px;
}
.readable{
	color: white;

}
.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 50%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  width: 480px;
  font-size: 85%;
}


.top-header {
	background: lightgrey;
}

.backdrop {
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	height: 100%;
	width: 100%;
}

#home {
	position: relative;
    background-image: url("../static/assets/facility.jpg");
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100%;
}

.crop-img2 {
	padding-top: 10px;
	width: 480px;
	height: 280px;
	overflow: hidden;
}

.crop-img2 img {
	width: 100%;
	margin-top: -10px;
	image-orientation: from-image;
}

/***************************************/
/*PEOPLE STYLES*/
/***************************************/

.crop-img {
	padding-top: 10px;
	width: 300px;
	height: 300px;
	overflow: hidden;
}

.crop-img img {
	width: 300px;
	margin-top: -20px;
	image-orientation: from-image;
}

.thumbnail.thumbnail4 .caption {
	width: 300px;
	height: 150px;
}

.thumbnail.thumbnail4 {
	width: 300px;
	margin: auto;
	border: none;
	background-color:#f5f5f5;
}

.caption {
	padding: 0 !important;
}

.caption h {
	font-weight: bold;
	font-size: 1.9em;
}

.caption h1 {
	font-size: 1.5em;
	color: #999999;
	margin: 5px 0px 0px 0px !important;
}

.caption p {
	margin-top: 8px;
	color: #777777;
}

.caption a {

}

 /* Popup container */
.popup {
    position: relative;
    position: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/***************************************/
/* ACCOUNT INFO PAGE STYLES */
/***************************************/

.account-info h3 {
    display: inline;
    padding: 5px;
    margin: 0;
}

.account-info p {
    display: inline;
    padding: 5px;
    margin: 0;
    font-size: larger;
}

.account-info hr {
    padding: 5px;
    margin: 0;
}

.account-info .row {
    padding-top: 0;
}

/***************************************/
/* RESEARCH TOPIC STYLES */
/***************************************/
