{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_fmacros.html" import render_field %}

{% block title %}{{super()}} - Add Publication{% endblock %}

{% block page_content %}
<div class="container">
  <div class="page-header text-center">
      <h1>New Publication</h1>
  </div>
  <div class="col-xs-0 col-sm-3"></div>
  <div class="col-xs-12 col-sm-6">
      <div class="cmrfcard well">
    	  <form class="form-addpub" method="post" enctype="multipart/form-data" action="{{ url_for('cmrf.add_publication') }}">
    		  {{form.hidden_tag()}}

    		  {# Title #}
    		  {{ render_field(form.title, with_label="Title", with_ph="Title", with_icon="fa fa-header fa-fw", class_="form-control", style="width: 100%;") }}
    
    		  {# Description #}
    		  {{ render_field(form.desc, with_label="Description", with_ph="A list of contributors...", rows="6", class_="form-control") }}
    
    		  {# PDF #}
    		  {{ render_field(form.file, with_label="PDF", with_icon="fa fa-file-pdf-o fa-fw", accept=".pdf", style="width: 100%;") }}
              
              <hr style="width: 100%; color: black; height: 1px; background-color: #357ebd;" />
    		  
              {# Submit #}
    		  {{form.submit(class="btn btn-primary", type="submit", style="width: 40%; margin-left: 30%;")}}
          </form>
      </div>	      
  </div>
  <div class="col-xs-0 col-sm-3"></div>
</div>
{% endblock %}
