{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_fmacros.html" import render_field %}

{% block title %}{{super()}} - Add Publication{% endblock %}

{% block page_content %}
<div class="container">
  <div class="page-header">
      <h1>New Publication</h1>
  </div>
  <div class="well col-md-6">
	  <form method="post" enctype="multipart/form-data" action="{{ url_for('cmrf.add_publication') }}">
		  {{form.hidden_tag()}}
		  
		  {# Title #}
		  {{ render_field(form.title, with_label="Title", class_="form-control") }}
		  <hr>

		  {# Description #}
		  {{ render_field(form.desc, with_label="Description", rows="6", class_="form-control") }}
		  <hr>

		  {# PDF #}
		  {{ render_field(form.file, with_label="PDF", accept=".pdf") }}

		  {# Submit #}
		  {{form.submit(class="btn btn-primary", type="submit", style="width: 40%; margin-left: 30%;")}}
      </form>	      
  </div>
</div>
{% endblock %}
