{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{super()}} - All News Items{% endblock %}

{% block page_content %}
<div class="container">
  <div class="page-header">
      <h1>News Items</h1>
  </div>
</div>
<div class="container">
    <div class="table-responsive">
    <table id="all_ni_table" class="table table-hover cell-border">
      <thead class="thead-inverse">
        <tr>
          <th>ID</th>
          <th>Submitter UCID</th>
          <th>Submitter Name</th>
          <th>Title</th>
          <th>Date Submitted</th>
          <th>URL</th>
          <th>Desc</th>
          <th> </th>
		  <th> </th>
        </tr>
      </thead>
      <tbody>
        {% for newsitem in newsitems %}
		<tr class="info">
            <td>{{newsitem.ID}}</td>
            <td><a href="{{ url_for('auth.adm_account_details', id=newsitem.UCID) }}">
                {{newsitem.UCID}}</a></td>
            <td>{{newsitem.first_name}} {{newsitem.last_name}}</td>
            <td>{% if newsitem.title|length > 17 %}{{newsitem.title[:15]+'...'}}{% else %}{{newsitem.title}}{% endif %}</td>
            <td>{{newsitem.submit_date.strftime('%a %b %d %Y %I:%M:%S %p')}}</td>
            <td>{% if newsitem.url|length > 17 %}{{newsitem.url[:15]+'...'}}{% else %}{{newsitem.url}}{% endif %}</td>
            <td>{% if newsitem.desc|length > 17 %}{{newsitem.desc[:15]+'...'}}{% else %}{{newsitem.desc}}{% endif %}</td>
			<td><a href="{{url_for('cmrf.edit_news_item', id=newsitem.ID)}}">Edit</a></td>
            <td><a href="{{url_for('main.news')}}">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}