{% extends "base.html" %}

{% block title %}{{super()}} - Requests: {{title}}{% endblock %}

{% block page_content %}

<div class="container">
  <div class="page-header">
    <h1>All {% if title != None %}{{title}}{% endif %} CMRF Requests</h1>
  </div>
</div>
<div class="container">
  <div class="table-responsive">
    <table id="all_req_table" class="table table-hover cell-border">
      <thead class="thead-inverse">
        <tr>
          <th>Request ID</th>
          <th>Submitter UCID</th>
          <th>Submitter Name</th>
          <th>Title</th>
          <th>Date Submitted</th>
          <th>Number of Samples</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for request in requests %}
          {% if request.status == 'Pending Approval' %}
          <tr class="warning">
          {% else %}
          {% if request.status == 'Complete' %}
          <tr class="success">
          {% else %}
          {% if request.status == 'In Progress' %}
          <tr class="active">
          {% else %}
          <tr class="danger">
          {% endif %}
          {% endif %}
          {% endif %}
            <td>{{request.ID}}</td>
            <td><a href="{{ url_for('cmrf.all_requests') }}">{{request.RSC_ID}}</a></td>
            <td><a href="{{ url_for('cmrf.all_requests') }}">{{request.first_name}} {{request.last_name}}</a></td>
            <td>{{request.title}}</td>
            <td>{{request.submit_date.strftime('%a %b %d %Y %I:%M:%S %p')}}</td>
            <td>{{request.no_samples}}</td>
            <td>{{request.status}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
