{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_fmacros.html" import render_field %}

{% block title %}{{super()}} - Edit Request{% endblock %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Edit Request</h1>
    </div>
    <div class="col-xs-0 col-sm-3"></div>
    <div class="col-xs-12 col-sm-6">
        <div class="page-header text-center">
            <h1>Request {{ woid }}</h1>
        </div>
        <div class="cmrfcard well">
            <form method="post" class="form-makerequest" action="{{ url_for('cmrf.edit_request', id=woid)}}">
                {{form.hidden_tag()}}
                
                {# Title #}
                {{ render_field(form.title, class_="form-control", type="text", tabindex=1, with_icon="fa fa-wpforms fa-fw", with_label="Request Title", with_ph="Title", style="width: 100%;")}}
                
                {# Description #}
                {{ render_field(form.desc, class_="form-control", tabindex=2, with_label="Description", rows="6", with_ph="A short decription and anything to be noted...")}}
                
                {# Number of Samples #}
                {{ render_field(form.no_samples, class_="form-control", type="number", tabindex=3, with_label="Number of Samples", min="1", max="1000", step="1", pattern="\d+", onInput="checkLength(3,this)", style="width: 30%;", with_icon="fa fa-flask fa-fw")}}
                
                <div class="col-xs-12">
                    <hr style="width: 100%; color: black; height: 1px; background-color: #357ebd;" />
                </div>

                <div class="nopadding col-xs-12">
                    <div class="nopadding col-sm-12 col-md-6">
                        {# Target Metabolites #}
                        {{ render_field(form.tm, tabindex=4, with_label="Target Metabolites") }}

                        {# Other Target Metabolites #}
                        {{ render_field(form.other_tm, class_="form-control", tabindex=5, with_label="Other Target Metabolites", disabled="disabled")}}
                    </div>

                    <div class="nopadding col-sm-12 col-md-6">
                        {# Required Instruments #}
                        {{ render_field(form.ri, tabindex=6, with_label="Required Instruments")}}
                    </div>
                </div>
                
                <div class="col-xs-12">
                    <hr style="width: 100%; color: black; height: 1px; background-color: #357ebd;" />
                </div>
                
                {# Assistance #}
                {{ render_field(form.assistance, class_="radio", tabindex=7, with_label="Assistance Required? (Technician)", style="list-style: none;")}}
                
                <div class="col-xs-12">
                    <hr style="width: 100%; color: black; height: 1px; background-color: #357ebd;" />
                </div>
                
                {# Submit #}
                {{ form.submit(class_="btn btn-lg btn-primary btn-block", type="submit", tabindex=8) }}
            </form>
        </div>
    </div>
    <div class="col-xs-0 col-sm-3"></div>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
	$(document).ready(function() {
		$("#tm-4").change(function() {
			if($("#tm-4").is(':checked')) {
				$("#other_tm").prop('disabled', false)
			}else{
				$("#other_tm").val("")
				$("#other_tm").prop('disabled', true)
			}
		})
	});
</script>
<script>
    function checkLength(len,ele){
      var fieldLength = ele.value.length;
      if(fieldLength <= len){
        return true;
      }
      else
      {
        var str = ele.value;
        str = str.substring(0, str.length - 1);
        ele.value = str;
      }
    }
</script>
{% endblock %}
