{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_fmacros.html" import render_field %}

{% block title %}{{super()}} - New Request{% endblock %}

{% block page_content %}
<div class="container">
    <div id="row">
        <div class="col-xs-0 col-sm-3"></div>
        <div class="col-xs-12 col-sm-6">
            <div class="page-header text-center">
                <h1>New Request</h1>
            </div>
            <div class="cmrfcard well">
                <form method="post" class="form-makerequest" action="{{ url_for('cmrf.make_request')}}">
                    {{form.hidden_tag()}}
                    
                    {# Title #}
                    {{ render_field(form.title, class_="form-control", type="text", tabindex=1, with_icon="fa fa-wpforms fa-fw", with_label="Request Title", with_ph="Title")}}
                    
                    {# Description #}
                    {{ render_field(form.desc, class_="form-control", tabindex=2, with_label="Description", rows="6", with_ph="A short decription and anything to be noted...")}}
                    
                    {# Number of Samples #}
                    {{ render_field(form.no_samples, class_="form-control", type="number", tabindex=3, with_label="Number of Samples", min="1", max="1000", step="1", pattern="\d+", onInput="checkLength(3,this)", style="width: 20%;", with_icon="fa fa-flask fa-fw")}}
                    
                    <hr style="width: 100%; color: black; height: 1px; background-color: #357ebd;" />
                    
                    <div class="nopadding col-xs-12 col-sm-6">
                        {# Target Metabolites #}
                        {{ render_field(form.tm, class_="checkbox", tabindex=4, type="checkbox", with_label="Target Metabolites", style="list-style: none;")}}
                        
                        {# Other Target Metabolites #}
                        {{ render_field(form.other_tm, class_="form-control", tabindex=5, with_label="Other Target Metabolites", disabled="disabled")}}
                    </div>
                    <div class="nopadding col-xs-12 col-sm-6">
                        {# Required Instruments #}
                        {{ render_field(form.ri, class_="checkbox", tabindex=6, type="checkbox", with_label="Required Instruments", style="list-style: none;")}}
                    </div>
                    
                    <hr style="width: 100%; color: black; height: 1px; background-color: #357ebd;" />
                    
                    {# Assistance #}
                    {{ render_field(form.assistance, class_="radio", tabindex=7, type="radio", with_label="Assistance Required? (Technician)", style="list-style: none;")}}
                    
                    <hr style="width: 100%; color: black; height: 1px; background-color: #357ebd;" />
                    
                    {# Submit #}
                    {{ form.submit(class_="btn btn-lg btn-primary btn-block", type="submit", tabindex=8) }}
                </form>
            </div>
        </div>
        <div class="col-xs-0 col-sm-3"></div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
	$(document).ready(function() {
		$("#tm-4").change(function() {
			if($("#tm-4").is(':checked')) {
				$("#other_tm").prop('disabled', false)
			}else{
				$("#other_tm").val("")
				$("#other_tm").prop('disabled', true)
			}
		})
	});
</script>
<script>
    function checkLength(len,ele){
      var fieldLength = ele.value.length;
      if(fieldLength <= len){
        return true;
      }
      else
      {
        var str = ele.value;
        str = str.substring(0, str.length - 1);
        ele.value = str;
      }
    }
</script>
{% endblock %}
