{% extends "base.html" %}

{% block title %}{{super()}} - Manage People{% endblock %}

{% block page_content %}

<div class="container">
  <div class="page-header">
    <h1>Manage People</h1>
  </div>
</div>

<div class="container">
	<table id="all_ppl_table" class="table table-hover cell-border display dt-responsive nowrap" cellspacing="0" width="100%">
		<thead class="thead-inverse">
    		<tr>
          		<th>ID</th>
          		<th>Submitter UCID</th>
				<th>Name</th>
          		<th>Title</th>
				<th>Email</th>
          		<th>Date Submitted</th>
          		<th>Photo</th>
          		<th>Edit</th>
          		<th>Delete</th>
    		</tr>
		</thead>
		<tbody>
			{% for p in ppl %}
			<tr>
				<td>{{p.ID}}</td>
				<td><a href="{{ url_for('auth.adm_account_details', id=p.UCID) }}">
					{{p.UCID}}</a></td>
				<td>{{p.name}}</td>
				<td>{% if p.title|length > 17 %}{{p.title[:15]+'...'}}{% else %}{{p.title}}{% endif %}</td>
				<td>{% if p.email %}{% if p.email|length > 17 %}{{p.email[:15]+'...'}}{% else %}{{p.email}}{% endif %}{% else %}None{% endif %}</td>
				<td>{{p.submit_date.strftime('%a %b %d %Y %I:%M:%S %p')}}</td>
				<td>{% if p.photo_name %}<a href="{{ url_for('main.show_pic', id=p.ID) }}">{{p.photo_name}}</a>{% else %}None{% endif %}</td>
				<td><a href="{{ url_for('cmrf.edit_person', id=p.ID) }}">Edit</a></td>
				<td><a href="{{ url_for('cmrf.delete_person', id=p.ID) }}">Delete</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
{% block scripts %}
{{super()}}
<script>
    $(document).ready(function () {
        $.fn.dataTable.moment('ddd MMM DD YYYY HH:MM:SS A');
        var table = $('#all_ppl_table').DataTable();
        table.order([[5,'desc']]).draw();
    });
</script>
{% endblock %}