{% extends "base.html" %}

{% block title %}{{super()}} - Manage Publications{% endblock %}

{% block page_content %}

<div class="container">
  <div class="page-header">
    <h1>Manage Publications</h1>
  </div>
</div>

<div class="container">
	<div class="table-responsive">
		<table id="pub_mgmt_table" class="table table-hover cell-border">
			<thead class="thead-inverse">
        		<tr>
	          		<th>ID</th>
	          		<th>Submitter UCID</th>
	          		<th>Title</th>
	          		<th>Date Submitted</th>
	          		<th>PDF Filename</th>
	          		<th>Edit</th>
	          		<th>Delete</th>
        		</tr>
			</thead>
			<tbody>
				{% for p in pubs %}
				<tr>
					<td><a href="{{ url_for('main.show_pub', id=p.ID) }}">{{p.ID}}</a></td>
					<td><a href="{{ url_for('auth.adm_account_details', id=p.UCID) }}">
						{{p.UCID}}</a></td>
					<td>{% if p.title|length > 17 %}{{p.title[:15]+'...'}}{% else %}{{p.title}}{% endif %}</td>
					<td>{{p.submit_date.strftime('%a %b %d %Y %I:%M:%S %p')}}</td>
					<td>{{p.pdf_name}}</td>
					<td><a href="{{ url_for('cmrf.edit_publication', id=p.ID) }}">Edit</a></td>
					<td><a href="{{ url_for('cmrf.delete_publication', id=p.ID) }}">Delete</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}