{% extends "base.html" %}

{% block title %}{{super()}} - Request{% endblock %}

{% block page_content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>Request</h1>
      <div class="well">
      <h3>{% if current_user.is_r_privileged() %}ID: {{request.ID}}{% endif %} - {{request.title}}</h3>
      <br>
      <h3>Submitted by: {{owner.first_name}} {{owner.last_name}} - UCID:
          {% if current_user.is_u_privileged() %}
          <a href="{{url_for('auth.adm_account_details', id=owner.UCID)}}">
          {{owner.UCID}}</a>
          {% else %}<a href="{{url_for('auth.account_details')}}">{{owner.UCID}}</a>{% endif %}</h3>
      </div>
      <br>
      <div class="well">
      <div class="container">
          <h4>Current Status:
      {% if request.status == 'Pending Approval' %}
      <div class="text-warning">
      {% else %}
      {% if request.status == 'Complete' %}
      <div class="text-success">
      {% else %}
      {% if request.status == 'In Progress' %}
      <div class="text-primary">
      {% else %}
      <div class="text-danger">
      {% endif %}
      {% endif %}
      {% endif %}
      {{request.status}}</div></h4>
      <br>
      
      {% if current_user.is_r_privileged() %}
      
      <h6>Admin Options:</h6>
	  	  {% if request.status != 'Complete' %}
          <a class="btn btn-warning" href="{{url_for('cmrf.edit_request', id=request.ID)}}"> Edit </a>
		  |
          <a class="btn btn-success" href="{{url_for('cmrf.approve_request', id=request.ID)}}"> Approve </a>
		  |
          <a class="btn btn-danger" href="{{url_for('cmrf.cancel_request', id=request.ID)}}">  Cancel  </a>
		  |
          <a class="btn btn-primary" href="{{url_for('cmrf.make_report', id=request.ID)}}"> Make Report </a>
		  |
		  {% endif %}
		  {% if current_user.can(Permission.ADMINISTER) %}
	  	  <a class="btn btn-danger" href="{{url_for('cmrf.delete_request', id=request.ID)}}"> Delete Request</a>
	  	  {% endif %}
      </div>
      </div>
      <br>
      {% else %}
      <a class="btn btn-success" href="{{url_for('cmrf.report', id=request.RPT_ID)}}"> View Report</a>
      
      {% endif %}
    </div>
    <div class="panel-content">
      <br>
      <ul>
        <li>Title: <p>{{request.title}}</p></li>
        <br>
        <li>Submission Date: <p>{{request.submit_date.strftime('%a %b %d %Y %I:%M:%S %p')}}</p></li>
        <br>
        <li>Number of Samples: <p>{{request.no_samples}}</p></li>
        <br>
        <li>Current Status:
          {% if request.status == 'Pending Approval' %}
          <p class="text-warning">
          {% else %}
          {% if request.status == 'Complete' %}
          <p class="text-success">
          {% else %}
          {% if request.status == 'In Progress' %}
          <p class="text-primary">
          {% else %}
          <p class="text-danger">
          {% endif %}
          {% endif %}
          {% endif %}
          {{request.status}}</p></li>
        <br>
        <li>Description: <br><p>{{request.desc}}</p></li>
        <br>
        <li>Required Instruments:
          <p>
            <ul>
              {% if request.ri_unk %}Unknown{% else %}
              <li>QEHF: {{request.ri_qehf}}</li>
              <li>QE Basic: {{request.ri_qeb}}</li>
              <li>TSG: {{request.ri_tsq}}</li>
              {% endif %}
            </ul>
          </p>
        </li>
        <br>
        <li>Target Metabolites: <br>
            <ul>
              {% if request.tm_unk %}
                Other - "{{ request.tm_oth_txt }}"
              {% else %}
              <li>Central Carbon Metabolism: {{request.tm_ccm}}</li>
              <li>Peptides: {{request.tm_pep}}</li>
              <li>Fatty Acids: {{request.tm_fa}}</li>
              <li>Amino Acids: {{request.tm_aa}}</li>
              {% endif %}
            </ul>
        </li>
        <br>
        <li>
          <p>{% if request.assistance %}Technician's assistance is required.{% else %}No assistance required.{% endif %}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
