{% macro render_field(field) -%}
    {% set with_label = kwargs.pop('with_label', False) %}
    {% set with_icon = kwargs.pop('with_icon', False) %}
    {% set with_ph = kwargs.pop('with_ph', False) %}
    {% set placeholder = '' %}
    {% if with_ph %}
        {% set placeholder = with_ph %}
    {% endif %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {% if with_label %}
            <label for="{{ field.id }}" class="control-label">
                {{ with_label }}
            </label>
        {% endif %}
        
        {% if with_icon %}
            <div class="input-group">
                <span class="input-group-addon"><i class="{{ with_icon }}" aria-hidden="true"></i></span>
        {% endif %}
        
        {% set class_ = kwargs.pop('class_', '') %}
        {% if field.flags.required %}
            {% set class_ = class_ + ' required' %}
        {% endif %}

        {% if field.type == 'BooleanField' %}
            <div class="checkbox">
                <label>
                    {{ field(class_=class_, **kwargs) }} {{ field.label.text }}
                </label>
            </div>
        {% elif field.type == 'MultiCheckboxField' %}
            <div class="checkbox">
                <ul class="list-group" id="tm" style="list-style: none">
                    {% for f in field %}
                        <li>
                                {{ f }} {{ f.label }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
       
            {% if field.type in ('TextField', 'TextAreaField', 'PasswordField', 'IntegerField') %}
                {% set class_ = class_ + ' input-xlarge form-control' %}
            {% elif field.type == 'FileField' %}
                {% set class_ = class_ + ' input-file form-control' %}
            {% endif %}

            {% if field.type == 'SelectField' %}
                {{ field(class_=class_, **kwargs) }}
            {% else %}
                {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
            {% endif %}
      
        {% endif %}
        
        {% if with_icon %}
            </div>
        {% endif %}
        
        {% if field.errors %}
            <p class="help-block">{{ field.errors|join(', ') }}</p>
        {% endif %}
        {% if field.description %}
            <p class="help-block">{{ field.description|safe }}</p>
        {% endif %}
    </div>
{%- endmacro %}
