{% extends "base.html" %}

{% block title %}{{super()}} - Analytics{% endblock %}

{% block page_content %}
<!-- Image Background Page Header -->
<header class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('{{ url_for('static', filename='assets/r_analytics.jpg') }}'); height: 383.5px;"></div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    
    <div class="page-header">
        <h1>Analytics <small></small></h1>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <p class="lead">The Lewis laboratory specializes in unraveling complex metabolic networks using high resolution mass spectrometry. This metabolomics approach allows us to interrogate representative metabolites from most central carbon metabolism pathways, measure pathway fluxes using isotope-labeled precursors, and identify novel metabolites. Moreover, we recently developed a specialized technique for interrogating complete proteolytic cascades. This analytical approach allows the molecular details of pathways to be uncovered and provides quantitative feedback on the impact of human and pathogen interactions and metabolism. We are actively developing a suite of new chemistry, spectroscopic, and computation strategies for extending our ability to unravel the complex metabolic interactions that occur during infections.</p>
            <p>
            <a class="btn btn-default btn-lg" href="{{url_for('main.publications')}}">Publications &raquo;</a>
            </p>
        </div>
    </div>
    <!-- /.row -->
</div>
{% endblock %}
