{% extends "bootstrap/base.html" %}

{% block html_attribs %}
{{super()}}
lang="en"
{% endblock %}

{% block title %}LRG{% endblock %}

{% block head %}
{{ super() }}

{% block metas %}
{{super()}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="cmrf web">
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<nav class="nav navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://www.ucalgary.ca"><img src="{{ url_for('static', filename='assets/uofclogo.png') }}"></a>
        </div>

        <div class="navbar-collapse collapse" id="navbar" style="overflow-y: scroll;">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('main.facilities') }}">Facilities</a>
                </li>
				{% if current_user.can(Permission.EDITING) %}
					<li class="dropdown" id="acc-dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Team<b class="caret"></b></a>
                    	<ul class="dropdown-menu">
                        	<li><a href="{{ url_for('main.team') }}">Team</a></li>
                        	<li role="separator" class="divider"></li>
							<li class="dropdown-header">Admin Tools</li>
                        	<li><a href="{{ url_for('cmrf.add_person') }}">Add Person</a></li>
							<li><a href="{{ url_for('cmrf.manage_people') }}">Manage People </a></li>
                    	</ul>
					</li>
				{% else %}
					<li>
                    	<a href="{{ url_for('main.team') }}">Team</a>
                	</li>
				{% endif %}
				{% if current_user.can(Permission.EDITING) %}
					<li class="dropdown" id="acc-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">News<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.news') }}">News</a></li>
                        <li role="separator" class="divider"></li>
						<li class="dropdown-header">Admin Tools</li>
                        <li><a href="{{ url_for('cmrf.add_news_item') }}">Add News</a></li>
                        <li><a href="{{ url_for('cmrf.all_news_items') }}">Manage News</a></li>
                    </ul>
                </li>
				{% else %}
				<li>
					<a href="{{ url_for('main.news') }}">News</a>
				</li>
				{% endif %}
				<li class="dropdown" id="acc-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Research<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.research') }}">Research Areas</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url_for('main.publications') }}">Publications</a></li>
						{% if current_user.can(Permission.EDITING) %}
						<li role="separator" class="divider"></li>
                        <li class="dropdown-header">Admin Tools</li>
						<li><a href="{{ url_for('cmrf.add_publication') }}">Add Publication</a></li>
						<li><a href="{{ url_for('cmrf.manage_publications') }}">Manage Publications</a></li>
						{% endif %}
                    </ul>
                </li>
				<li>
					<a href="{{ url_for('main.location') }}">Location</a>
				</li>
                {% if current_user.is_authenticated %}
                <li class="dropdown" id="acc-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">CMRF<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('cmrf.index') }}">CMRF Home</a></li>
                        <li><a href="{{ url_for('cmrf.requests') }}">My Requests</a></li>
                        <li><a href="{{ url_for('cmrf.make_request') }}">Make Request</a></li>
                        {% if current_user.can(Permission.ALL_R) %}
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Admin Tools</li>
                        <li><a href="{{ url_for('cmrf.all_requests') }}">All Requests</a></li>
                        {% endif %}
                    </ul>
                </li>
				{% else %}
				<li>
					<a href="{{ url_for('cmrf.index') }}">CMRF</a>
				</li>	
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown" id="acc-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{current_user.first_name}} {{current_user.last_name}}<b class="caret"></b></a>
                    <ul class="dropdown-menu" style=>
                        <li><a id="accdet" href="{{ url_for('auth.account_details') }}">Account Details</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                        {% if current_user.can(Permission.USER_ACC) %}
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Admin Tools</li>
                        <li><a href="{{ url_for('auth.all_accounts') }}">All User Accounts</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('auth.login') }}">Login</a>
                </li>
                <li>
                    <a href="{{ url_for('auth.register') }}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div id="flashes" class="container" style="width: 66%; position: absolute; left: 50%; margin-left: -33%;">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info" style="z-index: 3; margin-top: 6px;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p class="lead">{{ message }}</p>
    </div>
    {% endfor %}
</div>

{% block page_content %}{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="span12" id="footer">
            {% block footer_note %}{% endblock %}
            2017 Lewis Research Group © | All Rights Reserved
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.15/sorting/datetime-moment.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
	$(document).ready(function() {
		$('#flashes').delay(5000).fadeOut(3000)
	});
</script>
<script>
$.extend(true, $.fn.dataTable.defaults, {
    "searching": false,
    "paging": false,
    "order": [[4, "desc"]],
    "info": false,
    "orderClasses": false
});
</script>
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
<script>
$("#password").focusin(function() {
    $("#validinfo, #validmatch").removeClass("hidden");
});
</script>
<script>
    $("input[type=password]").keyup(function(){
        
        var ucase = new RegExp("[A-Z]+");
    	var lcase = new RegExp("[a-z]+");
    	var num = new RegExp("[0-9]+");
    	
    	if($("#password").val().length >= 8){
    		$("#8char").removeClass("fa-times");
    		$("#8char").addClass("fa-check");
    		$("#8char").css("color","green");
    	}else{
    		$("#8char").removeClass("fa-check");
    		$("#8char").addClass("fa-times");
    		$("#8char").css("color","red");
    	}
    	
    	if(ucase.test($("#password").val())){
    		$("#ucase").removeClass("fa-times");
    		$("#ucase").addClass("fa-check");
    		$("#ucase").css("color","green");
    	}else{
    		$("#ucase").removeClass("fa-check");
    		$("#ucase").addClass("fa-times");
    		$("#ucase").css("color","red");
    	}
    	
    	if(lcase.test($("#password").val())){
    		$("#lcase").removeClass("fa-times");
    		$("#lcase").addClass("fa-check");
    		$("#lcase").css("color","green");
    	}else{
    		$("#lcase").removeClass("fa-check");
    		$("#lcase").addClass("fa-times");
    		$("#lcase").css("color","red");
    	}
    	
    	if(num.test($("#password").val())){
    		$("#num").removeClass("fa-times");
    		$("#num").addClass("fa-check");
    		$("#num").css("color","green");
    	}else{
    		$("#num").removeClass("fa-check");
    		$("#num").addClass("fa-times");
    		$("#num").css("color","red");
    	}
    	
    	if($("#password").val() == $("#password_confirm").val() && $("#password_confirm").val()){
    		$("#pwmatch").removeClass("fa-times");
    		$("#pwmatch").addClass("fa-check");
    		$("#pwmatch").css("color","green");
    	}else{
    		$("#pwmatch").removeClass("fa-check");
    		$("#pwmatch").addClass("fa-times");
    		$("#pwmatch").css("color","red");
    	}
    });
</script>
{% endblock %}
