{% extends "bootstrap/base.html" %}

{% block html_attribs %}
{{super()}}
lang="en"
{% endblock %}

{% block title %}LRG{% endblock %}

{% block head %}
{{ super() }}

	{% block metas %}
	{{super()}}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="cmrf web">
	{% endblock %}

	{% block styles %}
	{{super()}}
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	{% endblock %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<nav class="nav navbar-inverse navbar-fixed-top" role="navigation">
	 <div class="container">
		 <div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='assets/uofclogo.png') }}"></a>
		 </div>

		<div class="navbar-collapse collapse" id="navbar">
			<ul class="nav navbar-nav">
				<li>
					<a href="{{ url_for('main.index') }}">Home</a>
				</li>
				<li>
					<a href="{{ url_for('main.people') }}">People</a>
				</li>
				<li>
					<a href="{{ url_for('main.inst') }}">Instruments</a>
				</li>
				<li class="dropdown" id="acc-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Research<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.research') }}">Analytics</a></li>
                            <li><a href="{{ url_for('main.research') }}">Malaria</a></li>
                            <li><a href="{{ url_for('main.research') }}">Hospital Acquired Infections</a></li>
                            <li><a href="{{ url_for('main.research') }}">Opportunistic Pathogens</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('main.research') }}">Publications</a></li>
                        </ul>
				</li>
				{% if current_user.is_authenticated %}
					<li class="dropdown" id="acc-dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">CMRF<b class="caret"></b></a>
							<ul class="dropdown-menu">
									<li><a href="{{ url_for('cmrf.index') }}">CMRF Home</a></li>
									<li><a href="{{ url_for('cmrf.requests') }}">My Requests</a></li>
									<li><a href="{{ url_for('cmrf.make_request') }}">Make Request</a></li>
									{% if current_user.can(Permission.ALL_R) %}
										<li role="separator" class="divider"></li>
										<li class="dropdown-header">Admin Tools</li>
										<li><a href="{{ url_for('cmrf.all_requests') }}">All Requests</a></li>
									{% endif %}
							</ul>
					</li>
				{% else %}
				<li>
					<a href="{{ url_for('cmrf.index') }}">CMRF</a>
				</li>
				{% endif %}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if current_user.is_authenticated %}
				<li class="dropdown" id="acc-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{current_user.first_name}} {{current_user.last_name}}<b class="caret"></b></a>
						<ul class="dropdown-menu">
								<li><a href="{{ url_for('auth.account_details') }}">Account Details</a></li>
								<li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
								<li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
								<li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                                {% if current_user.can(Permission.USER_ACC) %}
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Admin Tools</li>
                                    <li><a href="{{ url_for('auth.all_accounts') }}">All User Accounts</a></li>
                                {% endif %}
						</ul>
				</li>
				{% else %}
				<li>
					<a href="{{ url_for('auth.login') }}">Login</a>
				</li>
				<li>
					<a href="{{ url_for('auth.register') }}">Register</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning" style="z-index: 3; margin-top: 6px;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    </div>

    	{% block page_content %}{% endblock %}

		<div class="container-fluid hidden-xs">
			<div class="row">
				<div class="span12" id="footer">
	    			2016 Lewis Research Group © | All Rights Reserved
				</div>
			</div>
		</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script>
		$.extend( true, $.fn.dataTable.defaults, {
				"searching": true,
				"paging":   false,
				"order": [[ 4, "desc" ]]
		} );

		$(document).ready(function(){
		    $('#all_req_table').DataTable();
		});
</script>
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
<script>
	function myFunction(name) {
		var popup = document.getElementById(name);
		popup.classList.toggle('show');
	}
</script>
{% endblock %}
