{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{super()}} - Facilities{% endblock %}

{% block page_content %}
<header id="faci-carousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#faci-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#faci-carousel" data-slide-to="1"></li>
        <li data-target="#faci-carousel" data-slide-to="2"></li>
        <li data-target="#faci-carousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('{{ url_for('static', filename='assets/c_inst.jpg') }}');"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('{{ url_for('static', filename='assets/facility.jpg') }}');"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('{{ url_for('static', filename='assets/c_prokaryote_lab.png') }}');"></div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('{{ url_for('static', filename='assets/c_eukaryote_lab.jpg') }}');"></div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#faci-carousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#faci-carousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Facilities <br>
				<small>Lewis Research Group</small></h1>
			<p>The Lewis research group specializes in metabolic analysis of human pathogens. Our facilities include two separate biosafety-level two laboratories dedicated to eukaryotic and prokaryotic pathogens, and a state-of-the-art mass spectrometry laboratory.</p>
        </div>
    </div>
    <!-- /.row -->
</div>
<!--/.container-->
<hr>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 thumb">
            <a class="thumbnail" href="{{url_for('cmrf.index')}}">
                <img class="img" src="{{ url_for('static', filename='assets/ft_mass_spec.jpg') }}" alt="">
            </a>
            <div class="caption">
                <h4>Calgary Metabolomics Research Facility (CMRF) <a style="float: right;" class="btn btn-primary" href="{{url_for('cmrf.index')}}">Explore Facility <span class="glyphicon glyphicon-arrow-right"> </span></a></h4>
                        </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 thumb">
                            <a class="thumbnail" href="{{url_for('main.view_image', image = 'prokaryote_lab.png')}}">
                                <img class="img" src="../static/assets/ft_prok_lab.jpg" alt="">
                            </a>
                            <div class="caption">
                                <h4>Prokaryote Lab</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 thumb">
                            <a class="thumbnail" href="{{url_for('main.view_image', image = 'eukaryote_lab.jpg')}}">
                                <img class="img" src="../static/assets/ft_euk_lab.jpg" alt="">
                            </a>
                            <div class="caption">
                                <h4>Eukaryote Lab</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 thumb">
                            <a class="thumbnail" href="{{url_for('main.view_image', image = '600nmr.jpg')}}">
                                <img class="img" src="../static/assets/ft_600nmr.jpg" alt="">
                            </a>
                            <div class="caption">
                                <h4>Nuclear Magnetic Resonance (NMR)</h4>
							</div>
                        </div>
                        </div>
                        </div>
                        <!-- /.container -->
                        {% endblock %}
