{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{super()}} - Facilities{% endblock %}

{% block page_content %}
  <div id="instruments">
    <div class="container" >
          <div class="row">
            <div class="backdrop"> </div>
            <div class="readable">
                <div class="col-md-9 col-sm-9">
                    <h1 class="head-main">
                      Facilities
                     </h1>
                    <span class="head-sub-main">
                      Lewis Research Group
                    </span>
                  </div>
              </div>
          </div>
     </div>
   </div>
    <div style="text-align: center;">
        <span class="glyphicon glyphicon-circle-arrow-down" style="font-size:4em; padding-top: 8px;"></span>
    </div>
    <hr>

     <div class="album text-muted">
      <div class="container">

        <div class="row">
                   <div class="col-md-6 portfolio-item">
                       <a href="{{url_for('main.view_image', image = 'inst_eg1.jpg')}}">
                           <img class="img-responsive" src="../static/assets/inst_eg1.jpg" alt="">
                       </a>
                       <h3>
                           <u>Mass Spectrometry </u>
                       </h3>
                       <p>This is a description of this facility</p>
                   </div>
                   <div class="col-md-6 portfolio-item">
                       <a href="{{url_for('main.view_image', image = 'inst_eg2.jpg')}}">
                           <img class="img-responsive" src="../static/assets/inst_eg2.jpg" alt="">
                       </a>
                       <h3>
                           <u>Prokaryotic Lab </u>
                       </h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                   </div>
               </div>

               <!-- /.row -->

               <!-- Projects Row -->
               <div class="row">
                   <div class="col-md-6 portfolio-item">
                       <a href="{{url_for('main.view_image', image = 'inst_eg3.jpg')}}">
                           <img class="img-responsive" src="../static/assets/inst_eg3.jpg" alt="">
                       </a>
                       <h3>
                           <u>Eukaryotic Lab </u>
                       </h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                   </div>
                   <div class="col-md-6 portfolio-item">
                       <a href="{{url_for('main.view_image', image = 'inst_eg4.jpg')}}">
                           <img class="img-responsive" src="../static/assets/inst_eg4.jpg" alt="">
                       </a>
                       <h3>
                           <u>Nuclear Magnetic Resonance (NMR) </u>
                       </h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                   </div>
               </div>
               <!-- /.row -->

      </div>
    </div>


{% endblock %}
