{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{super()}} - Instruments{% endblock %}

{% block page_content %}
  <div id="instruments">
    <div class="container" >
          <div class="row">
            <div class="backdrop"> </div>
            <div class="readable">
                <div class="col-md-9 col-sm-9">
                    <h1 class="head-main">
                      Instruments
                     </h1>
                    <span class="head-sub-main">
                      Metabolomic Research Lab
                    </span>
                  </div>
              </div>
          </div>
     </div>
   </div>

     <div class="album text-muted">
      <div class="container">

        <div class="row">

          {% for post in posts %}
            <div class="card">
              <div class="crop-img2">
                <img data-src="holder.js/100px280/thumb" alt="100%x280" src="{{ post.pic }}" data-holder-rendered="false">
              </div>
              <p class="card-text"> {{ post.desc }} </p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>


{% endblock %}
