{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{super()}} - Instruments{% endblock %}

{% block page_content %}
  <div id="instruments">
    <div class="container" >
          <div class="row">
            <div class="backdrop"> </div>
            <div class="readable">
                <div class="col-md-9 col-sm-9">
                    <h1 class="head-main">
                      Instruments
                     </h1>
                    <span class="head-sub-main">
                      Metabolomic Research Lab
                    </span>
                  </div>
              </div>
          </div>
     </div>
   </div>
{% endblock %}
