{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{super()}} - Instruments{% endblock %}

{% block page_content %}
  <div id="instruments">
    <div class="container" >
          <div class="row">
            <div class="backdrop"> </div>
            <div class="readable">
                <div class="col-md-9 col-sm-9">
                    <h1 class="head-main">
                      Instruments
                     </h1>
                    <span class="head-sub-main">
                      Metabolomic Research Lab
                    </span>
                  </div>
              </div>
          </div>
     </div>
   </div>

     <div class="album text-muted">
      <div class="container">

        <div class="row">
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="../static/assets/inst_eg1.jpg" data-holder-rendered="false">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="../static/assets/inst_eg2.jpg" data-holder-rendered="true">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>

          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="../static/assets/inst_eg3.jpg" data-holder-rendered="true">
            <p class="card-text">Not really sure why this image is sideways... tried to fix it couldnt.</p>
          </div>
          <div class="card">
            <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" src="../static/assets/inst_eg4.jpg" data-holder-rendered="true">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>

        </div>
      </div>
    </div>


{% endblock %}
