{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{super()}} - Location{% endblock %}

{% block page_content %}

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive img-rounded" src="{{ url_for('static', filename='assets/ucal_view.jpg') }}" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-12">
            <div class="well">
                <h2>Location </h2>
                <p>The Lewis research group is located in the Department of Biological Sciences at the University of Calgary. The University is situated minutes from downtown Calgary and is within a short drive of a range of famous destinations including Banff National Park, Lake Louise, the Burgess shale, Royal Tyrell Museum and Dinosaur Provincial Park. Popular weekend activities for our group include going to Calgary Flames games, enjoying the National Music Centre, fly fishing, skiing, and rock climbing.</p>
            </div>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header"><small>Calgary, the University and the Rockies</small></h3>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://www.ucalgary.ca/mediacentre/files/mediacentre/aerials_011a7179_fe.jpg">
                <img class="img-responsive" src="{{ url_for('static', filename='assets/lt_campus.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://www.ucalgary.ca/mediacentre/files/mediacentre/foothillscampus_011a0202_f.jpg">
                <img class="img-responsive" src="{{ url_for('static', filename='assets/lt_foothills.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://www.ucalgary.ca/mediacentre/files/mediacentre/tfdl_011a6808final.jpg">
                <img class="img-responsive" src="{{ url_for('static', filename='assets/lt_tfdl.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="http://www.ucalgary.ca/mediacentre/files/mediacentre/cdstroyer-dst_7509bli.jpg">
                <img class="img-responsive" src="{{ url_for('static', filename='assets/lt_taylortlc.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="{{url_for('main.view_image', image = 'calgary_dt.jpg')}}">
                <img class="img-responsive" src="{{ url_for('static', filename='assets/t_calgary_dt.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="{{url_for('main.view_image', image = 'calgary_bow.jpg')}}">
                <img class="img-responsive" src="{{ url_for('static', filename='assets/t_calgary_bow.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="{{url_for('main.view_image', image = 'rockies_sunrise.jpg')}}">
                <img class="img-responsive" src="{{ url_for('static', filename='assets/t_rockies_sunrise.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="{{url_for('main.view_image', image = 'rockies_waterfall.jpg')}}">
                <img class="img-responsive" src="{{ url_for('static', filename='assets/t_rockies_waterfall.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="{{url_for('main.view_image', image = 'rockies_canoe.jpg')}}">
                <img class="img-responsive" src="{{ url_for('static', filename='assets/t_rockies_canoe.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="{{url_for('main.view_image', image = 'rockies_rafting.jpg')}}">
                <img class="img-responsive" src="{{ url_for('static', filename='assets/t_rockies_rafting.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="{{url_for('main.view_image', image = 'rockies_peak.jpg')}}">
                <img class="img-responsive" src="{{ url_for('static', filename='assets/t_rockies_peak.jpg') }}" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="{{url_for('main.view_image', image = 'rockies_lake.jpg')}}">
                <img class="img-responsive" src="{{ url_for('static', filename='assets/t_rockies_lake.jpg') }}" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->
</div>

{% endblock %}
{% block footer_note %}
    Some images courtesy of University of Calgary | {{super()}}
{% endblock %}