{% extends "base.html" %}

{% block title %}{{super()}} - Malaria{% endblock %}

{% block page_content %}
<!-- Image Background Page Header -->
<header class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('{{ url_for('static', filename='assets/malaria_b.jpg') }}'); height: 100%;"></div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    
    <div class="page-header">
        <h1>Malaria <small></small></h1>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <p class="lead">Malaria is thought to have killed more people throughout time than any other disease. Today, more than 500 million people suffer from this parasitic infection and a million people die annually. The malaria parasite lives for part of its lifecycle inside the human red blood cell, where in digests 80% of the hemoglobin over the course of its 48-hour intraerythrocytic development. Although the parasite’s hemoglobin metabolism has been studied intensively—and is an obvious drug target for controlling infections—surprisingly little is known about how this process works in live parasites. Our group is harnessing our new digestomics analytical strategy to unravel this complex metabolic process. Our hope is that a detailed map of this essential process may lead to new generation of antimalarial therapies.</p>
            <p>
            <a class="btn btn-default btn-lg" href="{{url_for('main.publications')}}">Publications &raquo;</a>
            </p>
        </div>
    </div>
    <!-- /.row -->
    
</div>
{% endblock %}
