{% extends "base.html" %}

{% block title %}{{super()}} - News{% endblock %}

{% block page_content %}


<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Latest News
                <small>Lewis Research Group</small>
            </h1>
			{% if current_user.can(Permission.EDITING) %}
				<a class="btn btn-warning" href="{{url_for('cmrf.all_news_items')}}">Admin News Table <span class="glyphicon glyphicon-pencil"></span></a>
			{% endif %}
        </div>
    </div>
    <div class="row">
	{% for newsitem in newsitems %}
        <div class="well col-md-12">
            <h3>{{newsitem.title}} <small>Submitted: {{newsitem.submit_date}}</small></h3>
			<br>
            <p class="lead">{{newsitem.desc}}</p>
            <a class="btn btn-primary" href="{{newsitem.url}}">External Link <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    
    <hr>
	{% endfor %}
</div>

{% endblock %}