{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{super()}} - People{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>People</h1>
</div>
<div class="container-full-background">
	<div class="container">
		<div class="row">
			{% for post in posts %}
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="thumbnail thumbnail4">
						<div class="crop-img">
							<img src="{{ post.pic }}" alt="">
						</div>
						<div class="caption">
							<h> {{ post.name }} </h>
							<h1> {{ post.title }} </h1>
							<p> 
								{{ post.caption }}
							</p>
						</div>
						{% if post.school == 'University of Calgary' %}
							<div class="popup" onclick="myFunction('{{ post.name }}')">More...
								<div class="popuptext" id="{{ post.name }}"> 
									{{ post.dept }} <br>
									{{ post.school }}<br>
									{{ post.address }}<br>
									{{ post.city }}<br>
									{{ post.postal }}<br>
									Tel: {{ post.tel }}<br>
									{% if post.name == 'Dr. Andrew Stopford' or post.name == 'Dr. Vishaldeep Sidhu' %}
										Fax: {{ post.fax }} <br>
									{% endif %}
									e-mail: <a href"mailto:{{post.emailaddress}}">{{ post.email }}</a><br>
									{% if post.name == 'Dr. Andrew Stopford' %}
										e-mail 2: <a href"mailto:{{post.emailaddress2}}">{{ post.email2 }}</a>
									{% endif %}
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		<!-- 	<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="thumbnail thumbnail4">
					<div class="crop-img">
						<img src="../static/assets/placeholder.png" alt="">
					</div>
					<div class="caption">
						<h> Dr. Andrew Stopford </h>
						<h1> Staff </h1>
						<p> 
							Facility Director/Instrumentation Specialist
						</p>
					</div>
					<div class="popup" onclick="myFunction('popup2')">More...
						<span class="popuptext" id="popup2"> Popup text...</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="thumbnail thumbnail4">
					<div class="crop-img">
						<img src="../static/assets/IMG_4807.JPG" alt="">
					</div>
					<div class="caption">
						<h> Dr. Vishaldeep Sidhu </h>
						<h1> Staff </h1>
						<p> 
							Lewis Research Group Laboratory Manager. It would be cool if we could get more info maybe?
						</p>
					</div>
					<div class="popup" onclick="myFunction('popup3')">More...
						<span class="popuptext" id="popup3"> Popup text...</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="thumbnail thumbnail4">
					<div class="crop-img">
						<img src="../static/assets/IMG_5194.JPG" alt="">
					</div>
					<div class="caption">
						<h> Ryan Groves </h>
						<h1> Staff </h1>
						<p> 
							Awaiting Description. For now I\'ll just say he\'s a swell guy!
						</p>
					</div>
					<div class="popup" onclick="myFunction('popup4')">More...
						<span class="popuptext" id="popup4"> Popup text...</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="thumbnail thumbnail4">
					<div class="crop-img">
						<img src="../static/assets/placeholder.png" alt="">
					</div>
					<div class="caption">
						<h> Dr. Matthias Klein </h>
						<h1> Graduate Student </h1>
						<p> 
							Awaiting Description. For now I\'ll just say he\'s a swell guy!
						</p>
					</div>
					<div class="popup" onclick="myFunction('popup5')">More...
						<span class="popuptext" id="popup5"> Popup text...</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="thumbnail thumbnail4">
					<div class="crop-img">
						<img src="../static/assets/IMG_4806.JPG" alt="">
					</div>
					<div class="caption">
						<h> Travis Bingeman </h>
						<h1> Graduate Student </h1>
						<p> 
							Awaiting Description. For now I\'ll just say he\'s a swell guy!
						</p>
					</div>
					<div class="popup" onclick="myFunction('')">More...
						<span class="popuptext" id="myPopup"> Popup text...</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="thumbnail thumbnail4">
					<div class="crop-img">
						<img src="../static/assets/IMG_4811.JPG" alt="">
					</div>
					<div class="caption">
						<h> Michelle Chang </h>
						<h1> Graduate Student </h1>
						<p> 
							Say something, I\'m giving up on you.
						</p>
					</div>
					<div class="popup" onclick="myFunction()">More...
						<span class="popuptext" id="myPopup"> Popup text...</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="thumbnail thumbnail4">
					<div class="crop-img">
						<img src="../static/assets/placeholder.png" alt="">
					</div>
					<div class="caption">
						<h> Hassan Hazari </h>
						<h1> Graduate Student </h1>
						<p> 
							Say something, I\'m giving up on you.
						</p>
					</div>
					<div class="popup" onclick="myFunction()">More...
						<span class="popuptext" id="myPopup"> Popup text...</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="thumbnail thumbnail4">
					<div class="crop-img">
						<img src="../static/assets/placeholder.png" alt="">
					</div>
					<div class="caption">
						<h> Kurt Ebeling </h>
						<h1> Undergraduate Student </h1>
						<p> 
							Say something, I\'m giving up on you.
						</p>
					</div>
					<div class="popup" onclick="myFunction()">More...
						<span class="popuptext" id="myPopup"> Popup text...</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="thumbnail thumbnail4">
					<div class="crop-img">
						<img src="../static/assets/placeholder.png" alt="">
					</div>
					<div class="caption">
						<h> Austin Nguyen </h>
						<h1> Undergraduate Student </h1>
						<p> 
							Say something, I\'m giving up on you.
						</p>
					</div>
					<div class="popup" onclick="myFunction()">More...
						<span class="popuptext" id="myPopup"> Popup text...</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="thumbnail thumbnail4">
					<div class="crop-img">
						<img src="../static/assets/placeholder.png" alt="">
					</div>
					<div class="caption">
						<h> Selena Osman </h>
						<h1> Undergraduate Student </h1>
						<p> 
							Say something, I\'m giving up on you.
						</p>
					</div>
					<div class="popup" onclick="myFunction()">More...
						<span class="popuptext" id="myPopup"> Popup text...</span>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>
{% endblock %}
