{% extends "base.html" %}

{% block title %}{{super()}} - Publications{% endblock %}

{% block page_content %}

<header class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('{{ url_for('static', filename='assets/publications.jpg') }}'); height: 100%;"></div>
        </div>
    </div>
</header>

<div class="container">
    <div class="page-header">
        <h1>Publications</h1>
		<h2><small>Lewis Research Group</small></h2>
		{% if current_user.can(Permission.ADD_ARTICLE) or current_user.can(Permission.EDITING) %}<hr>{% endif %}
		{% if current_user.can(Permission.ADD_ARTICLE) %}<a href="{{url_for('cmrf.add_publication')}}" class="btn btn-primary">Add Publication</a>{% endif %}
		{% if current_user.can(Permission.EDITING) %}<a href="{{url_for('cmrf.manage_publications')}}" class="btn btn-primary">Manage Publications</a>{% endif %}
    </div>
</div>

<div class="container">
    <div class="list-group">
		{% for publication in publications %}
			<a href="{{ url_for('main.show_pub', id=publication.ID) }}" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{publication.title}} {% if current_user.can(Permission.EDITING) %}<small> - Submitted: {{publication.submit_date.strftime('%a %b %d %Y %I:%M:%S %p')}} by {{publication.UCID}}{% else %}Added: {{publication.submit_date.strftime('%a %b %d %Y %I:%M %p')}}{% endif %}</small></h5>
				</div>
				<p class="mb-1">{{publication.desc}}</p>
			</a>
		{% endfor %}
    </div>
</div>

{% endblock %}
