{% extends "base.html" %}

{% block title %}{{super()}} - Publications{% endblock %}

{% block page_content %}

<header class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('{{ url_for('static', filename='assets/publications.jpg') }}'); height: 100%;"></div>
        </div>
    </div>
</header>

<div class="container">
    <div class="page-header">
        <h1>Publications <small>Lewis Research Group</small></h1>
    </div>
</div>

<div class="container">
    <div class="list-group">
        <a href="http://lewisresearchgroup.org/files/paper16.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Digestomics: an emerging strategy for comprehensive analysis of protein catabolism</h5>
            </div>
            <p class="mb-1">Travis S Bingeman, David H Perlman, Douglas G Storey, Ian A. Lewis.
            Current Opinion in Biotechnology, 43:134-140 (2017).</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/paper15.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Evolution of Fitness Cost-Neutral Mutant PfCRT Conferring P. falciparum 4-Aminoquinoline Drug Resistance Is Accompanied by Altered Parasite Metabolism and Digestive Vacuole Physiology</h5>
            </div>
            <p class="mb-1">Stanislaw J. Gabryszewski, Satish K. Dhingra, Jill M. Combrinck, Ian A. Lewis, Paul S. Callaghan, Matthew R. Hassett, Amila Siriwardana, Philipp P. Henrich, Andrew H. Lee, Nina F. Gnädig, Lise Musset, Manuel Llinás, Timothy J. Egan, Paul D. Roepe, David A. Fidock.
            PLoS Pathogens, 12(11): e1005976 (2016).</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/paper14.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Genetic Investigation of Tricarboxylic Acid Metabolism during the Plasmodium falciparum Life Cycle.</h5>
            </div>
            <p class="mb-1">Hangjun Ke, Ian A Lewis, Joanne M Morrisey, Kyle J McLean, Suresh M Ganesan, Heather J Painter, Michael W Mather, Marcelo Jacobs-Lorena, Manuel Llinás, Akhil B Vaidya.
            Cell Reports, 11 (1): 164-174 (2015).</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/paper13.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Hierarchy in Pentose Sugar Metabolism in Clostridium acetobutylicum.</h5>
            </div>
            <p class="mb-1">Aristilde, L., Ludmilla Aristilde, Ian A Lewis, Junyoung O Park, Joshua D Rabinowitz.
            Applied and Environmental Microbiology, 81 (4): 1452-1462 (2015).</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/paper12.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Metabolic QTL Analysis Links Chloroquine Resistance in Plasmodium falciparum to Impaired Hemoglobin Catabolism</h5>
            </div>
            <p class="mb-1">Ian A Lewis, Mark Wacker, Kellen L Olszewski, Simon A Cobbold, Katelynn S Baska, Asako Tan, Michael T Ferdig, Manuel Llinás.
            PLoS Genetics, 10 (1): e1004085 (2014).</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/paper11.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Kinetic Flux Profiling Elucidates Two Independent Acetyl-CoA Biosynthetic Pathways in Plasmodium falciparum.</h5>
            </div>
            <p class="mb-1">Simon A Cobbold, Ashley M Vaughan, Ian A Lewis, Heather J Painter, Nelly Camargo, David H Perlman, Matthew Fishbaugher, Julie Healer, Alan F Cowman, Stefan HI Kappe, Manuel Llinás.
            Journal of Biological Chemistry, 288 (51): 36338-36350 (2013).</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/paper10.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Relationship between Treatment-seeking Behaviour and Artemisinin Drug Quality in Ghana.</h5>
            </div>
            <p class="mb-1">Eili Y Klein, Ian A Lewis, Christina Jung, Manuel Llinás, Simon A Levin.
            Malaria Journal, 11: 110 (2012).</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/paper9.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Semiautomated Device for Batch Extraction of Metabolites from Tissue Samples.</h5>
            </div>
            <p class="mb-1">James J Ellinger, Dan C Miller, Ian A Lewis, John L Markley.
            Analytical Chemistry, 84 (4): 1809-1812.</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/chapter1.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Novel NMR and MS Approaches to Metabolomics.</h5>
            </div>
            <p class="mb-1">Ian A Lewis, Michael R Shortreed, Adrian D Hegeman, John L Markley.
            The Handbook of Metabolomics: 199-230 (2012).</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/paper8.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Role of Aminotransferases in Glutamate Metabolism of Human Erythrocytes.</h5>
            </div>
            <p class="mb-1">James J Ellinger, Ian A Lewis, John L Markley.
            Journal of Biomolecular NMR, 49 (3-4): 221-229 (2011).</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/patent1.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Method and System for Determining Compound Concentration in a Mixture using Regression of NMR Intensity Peak Values.</h5>
            </div>
            <p class="mb-1">John L Markley, Ian A Lewis, William M Westler, Qiu Cui, Gabriel Cornilescu, Marco Tonelli.
            US Patent 7,847,547 (2010).</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/paper7.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">NMR Method for Measuring Carbon-13 Isotopic Enrichment of Metabolites in Complex Solutions.</h5>
            </div>
            <p class="mb-1">Ian A Lewis, Ryan H Karsten, Mark E Norton, Marco Tonelli, William M Westler, John L Markley.
            Analytical Chemistry, 82 (11), 4558-4563 (2010).</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/phd1.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Novel Methods for Identifying and Quantifying Metabolites in Complex Biological Extracts by Multidimensional Nuclear Magnetic Resonance Spectroscopy.</h5>
            </div>
            <p class="mb-1">Ian A Lewis.
            PhD Dissertation. University of Wisconsin-Madison (2010).</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/paper6.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">rNMR: Open Source Software for Identifying and Quantifying Metabolites in NMR Spectra.</h5>
            </div>
            <p class="mb-1">Ian A Lewis, Seth C Schommer, John L Markley.
            Magnetic Resonance in Chemistry, 47 (S1): S123-S126 (2009).</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/paper5.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Role of Band 3 in Regulating Metabolic Flux of Red Blood Cells.</h5>
            </div>
            <p class="mb-1">Ian A Lewis, M Estela Campanella, John L Markley, Philip S Low.
            Proceedings of the National Academy of Sciences, 106 (44): 18515-18520 (2009).</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/paper4.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Metabolite Identification via the Madison Metabolomics Consortium Database.</h5>
            </div>
            <p class="mb-1">Qiu Cui, Ian A Lewis, Adrian D Hegeman, Mark E Anderson, Jing Li, Christopher F Schulte, William M Westler, Hamid R Eghbalnia, Michael R Sussman, John L Markley.
            Nature Biotechnology, 26 (2): 162-164 (2008).</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/paper3.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Method for Determining Molar Concentrations of Metabolites in Complex Solutions from Two-Dimensional 1H-13C NMR Spectra.</h5>
            </div>
            <p class="mb-1">Ian A Lewis, Seth C Schommer, Brendan Hodis, Kate A Robb, Marco Tonelli, William M Westler, Michael R Sussman, John L Markley.
            Analytical Chemistry, 79 (24): 9385-9390 (2007)</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/paper2.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Stable Isotope Assisted Assignment of Elemental Compositions for Metabolomics.</h5>
            </div>
            <p class="mb-1">Adrian D Hegeman, Christopher F Schulte, Qiu Cui, Ian A Lewis, Edward L Huttlin, Hamid Eghbalnia, Amy C Harms, Eldon L Ulrich, John L Markley, Michael R Sussman.
            Analytical Chemistry, 79 (18): 6912-6921 (2007).</p>
        </a>
        <a href="http://lewisresearchgroup.org/files/paper1.pdf" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">New Bioinformatics Resources for Metabolomics.</h5>
            </div>
            <p class="mb-1">John L Markley, Mark E Anderson, Qiu Cui, Hamid Eghbalnia, Ian A Lewis, Adrian D Hegeman, Jing Li, Christopher F Schulte, Michael R Sussman, William M Westler, Eldon L Ulrich, Zsolt Zolnai.
            Pacific Symposium on Biocomputing, 12: 157-168 (2007).</p>
        </a>
    </div>
</div>

{% endblock %}
