{% extends "base.html" %}

{% block title %}{{super()}} - News{% endblock %}

{% block page_content %}
<!-- Full Width Image Header -->
<div class="container">
    <div class="page-header">
        <div class="well">
            <h1>Research Areas</h1>
        </div>
    </div>
</div>

<div class="container">
    <hr class="featurette-divider">

    <!-- Analytics Featurette -->
    <div class="featurette" id="analytics">
        <img class="featurette-image img-circle img-responsive pull-right" src="{{ url_for('static', filename='assets/big_data_analytics_research.jpg')}}">
        <h2 class="featurette-heading">Analytics
            <br>
            <span class="text-muted">Big Data Analysis</span>
        </h2>
        <p class="lead">Infectious diseases account for the majority of deaths in developing countries and are among the ten leading causes of mortality in Alberta. The emergence of diverse drug resistant pathogens has made finding new antimicrobial therapies both a Canadian and global health priority. My laboratory investigates the connection between metabolic adaptation and virulence of human pathogens.</p>
    </div>

    <hr class="featurette-divider">

    <!-- Malaria Featurette -->
    <div class="featurette" id="malaria">
        <img class="featurette-image img-circle img-responsive pull-left" src="{{ url_for('static', filename='assets/infectious_bacteria.jpg')}}">
        <h2 class="featurette-heading">Malaria
            <br>
            <span class="text-muted">Infectious Disease caused by Parasitic Protozoans</span>
        </h2>
        <p class="lead">Malaria is a parasitic infection spread by Anopheles mosquitoes. The Plasmodium parasite that causes malaria is neither a virus nor a bacterium – it is a single-celled parasite that multiplies in red blood cells of humans as well as in the mosquito intestine.</p>
    </div>

    <hr class="featurette-divider">

    <!-- Hospital Acquired Infections Featurette -->
    <div class="featurette" id="hospitalai">
        <img class="featurette-image img-circle img-responsive pull-right" src="{{ url_for('static', filename='assets/hosp_acqu_infections.jpg')}}">
        <h2 class="featurette-heading">Hospital Acquired Infections
            <br>
            <span class="text-muted">Viral, Bacterial and Fungal Pathogens</span>
        </h2>
        <p class="lead">Hospital-acquired infections are caused by viral, bacterial, and fungal pathogens; the most common types are bloodstream infection (BSI), pneumonia (eg, ventilator-associated pneumonia [VAP]), urinary tract infection (UTI), and surgical site infection (SSI).</p>
    </div>

    <hr class="featurette-divider">

    <!-- Malaria Featurette -->
    <div class="featurette" id="opppath">
        <img class="featurette-image img-circle img-responsive pull-left" src="{{ url_for('static', filename='assets/opportunistic_pathogens.jpg')}}">
        <h2 class="featurette-heading">Opportunistic Pathogens
            <br>
            <span class="text-muted">Identification of High-Risk Hosts</span>
        </h2>
        <p class="lead">An opportunistic infection is an infection caused by pathogens (bacteria, viruses, fungi, or protozoa) that take advantage of an opportunity not normally available, such as a host with a weakened immune system, an altered microbiota (such as a disrupted gut flora), or breached integumentary barriers.</p>
    </div>

    <hr class="featurette-divider">

    <!-- Publications Featurette -->
    <div class="featurette" id="publications">
        <img class="featurette-image img-circle img-responsive pull-right" src="{{ url_for('static', filename='assets/publications.jpg')}}">
        <h2 class="featurette-heading">Publications
            <br>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider">
</div>
{% endblock %}
