{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{super()}} - Team{% endblock %}

{% block page_content %}

<div class="container">
    <div class="row">
        <h1 class="well">Team</h1>
    </div>
</div>
<div class="container-full-background">
    <div class="container">
        <div class="row">
            {% for person in people %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail thumbnail4">
                    <div class="crop-img">
						{% if person.photo_name %}
                        <img src="photo/{{person.ID}}" alt="">
						{% else %}
						<img src="{{ url_for('static', filename='assets/placeholder.jpg') }}" alt="">
						{% endif %}
                    </div>
                    <div class="caption" style="text-align: center;">
                        <h> {{ person.name }} </h>
                        <h1> {{ person.title }} 
						{% if person.email %}
						<br><small><a href="mailto:{{person.email}}">{{person.email}}</a></small></h1>
						{% endif %}
						{% if person.caption %}
                    	<p>{{person.caption}}</p>
						{% endif %}
					</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--<h1 class="well">Alumni</h1>-->

{% endblock %}
